TRAIN_IMAGE=intellivix-train-agent:1.0.0
TRAIN_CONTAINER=intellivix-train-agent
AGENT_PORT=9010
TRAIN_GPU_DEVICE=0
TRAIN_NETWORK_MODE=host
TRAIN_AUTO_BUILD=1
TRAIN_FORCE_REBUILD=0
AUTH_TOKEN=
TZ=Asia/Seoul
